<div class="comments">
  <div class="comments_header">
    <h2>Comments:</h2>
  </div>
    
  <div class="comments_list">
  	<%= render "comments/list"%>  	
  </div>

  <div class="comments_form">
  	<%= render "comments/form"%>  	
  </div>
</div>
